/* .co2-graph {
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.co2-graph h2 {
  text-align: center;
  color: #333;
}

.co2-graph canvas {
  max-width: 100%;
  height: auto;
} */
